.container {
  display: flex;
  padding: 3rem;
  background-image: url(../../assets/outer-waves.svg);
  background-size: cover;
  margin: 2rem 0rem 0rem 0rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo * {
  font-size: 2rem;
}

.logo > div > div {
  display: flex;
}

.container ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.container ul > li > a:hover {
  color: var(--hue);
}

.container ul > li > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  margin-top: 5px;
  background: var(--hue);
  transition: width 0.3s ease;
  transition-delay: 0.3s;
}

.container ul > li > a:hover::after {
  width: 100%;
  transition-delay: 0;
}

.miscFooter {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  width: 100%;
}

.miscFooter > input {
  height: 20px;
  padding: 20px 0.9rem;
  border: none;
  border-radius: 10px 10px 0px 0px;
  width: 162.5px;
}

.miscFooter > div {
  margin: -16px 0px;
}

.miscFooter > div > button {
  width: 162.5px;
  padding: 0.5rem 1rem;
  border-radius: 0px 0px 10px 10px;
}

.miscFooter svg {
  width: 0.75rem;
  height: 0.75rem;
}

@media (max-width: 1090px) {
  .logo * {
    font-size: 1.2rem;
  }
  .container ul {
    gap: 60px;
  }
}

@media (max-width: 1000px) {
  .container {
    gap: 20px;
  }
  .logo * {
    font-size: 1.5rem;
  }
  .container ul {
    gap: 40px;
  }
}

@media (max-width: 945px) {
  .container {
    gap: 20px;
  }
  .logo * {
    font-size: 1rem;
  }
}

@media (max-width: 775px) {
  .container {
    margin: 0px;
  }
}

@media (max-width: 584px) {
  .container {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .container ul {
    flex-direction: column;
  }
}
