.dashboardNavContainer {
  background-color: #dcdffe;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboardNavContainer > h3 {
  padding: 15px 0px;
  border-bottom: thin solid grey;
  text-align: center;
}

.dashboardNavContainer > nav {
  display: flex;
  flex-direction: column;
}

.dashboardNavContainer > nav > a {
  padding: 12px 30px;
}

.dashboardNavContainer > nav > *,
.dashboardHelpContainer > * {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activeDashboardSelection {
  background-color: #bdc3fe;
  border-radius: 500px;
}

.hr {
  margin: 0px;
}
