.dashboardNavContainer {
  background-color: #dcdffe;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.dashboardNavContainer > h3 {
  padding: 15px 0px;
  border-bottom: thin solid grey;
  text-align: center;
}

.dashboardNavContainer > nav {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.dashboardNavContainer > nav > div > a {
  padding: 10px 20px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
}

.activeDashboardSelection,
.dashboardNavContainer > nav > div > a:hover {
  background-color: #bdc3fe;
  border-radius: 500px;
}

.hr {
  margin: 0px;
}
