.lastColumn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.calendarContainer {
  height: 50%;
}

.orderInformationForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.orderFormHeadings {
  border-bottom: thin solid black;
  padding: 0.5rem 0rem;
  margin: 0rem 0rem 1rem 0rem;
  text-align: center;
  position: relative;
}

.inputContainer > *,
.serviceInformationContainer > div > * {
  display: block;
  margin: 10px 0px;
}

.inputContainer > input,
textarea,
.serviceInformationContainer > div > input,
.dateContainer > input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: thin solid #d7d8f2;
  box-shadow: 0 -2px 0 hsla(0, 0%, 100%, 0.15),
    inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
  transition: all 0.2s;
}

.orderInformationForm form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputContainer {
  flex-shrink: 0;
}

.textareaContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* To make textarea stretch vertically */
}

.textareaContainer textarea {
  flex-grow: 1;
  margin: 0;
}

.serviceInformationHeadings {
  width: 100%;
}

.serviceForm textarea {
  height: 80px;
  width: 100%;
}

.serviceScroller {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceScroller div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceScrollButtons {
  transition: all 0.3s;
  cursor: pointer;
}

.serviceScrollButtons:hover {
  transform: scale(1.25);
}

.bottomRowLastColumn {
  display: flex;
  gap: 20px;
}

.bottomRowLastColumn > * {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 0px;
}

.serviceInformationContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.serviceInformationContainer > * {
  flex: 1;
}

.bottomRowLastColumn > div:first-child > div:nth-child(2) {
  width: 100%;
}

.bottomRowLastColumn > div:first-child > div:nth-child(2) * {
  transition: all 0.2s ease-in;
}
