.container {
    background-image: url(../../../../assets/outer-waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    width: 100%;
}

.contentContainer>h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #333;
}

.contentContainer {
    width: 48%;
}

.boxEffect {
    background-color: #F7F7F7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;
}

.contentContainer>h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-size: 28px;
    font-weight: 500;
    color: #333;
    letter-spacing: -0.5px;
    line-height: 36px;
    background-color: #F7F7F7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;
    text-wrap: unset;
}

.contentContainer>p,
details>p {
    font-family: "Calibri", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-wrap: unset;
}

.accordionContainer {
    width: 45%;
}

.accordionContainer>* {
    margin: 10px 0px;
}

details {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #d7d8f2;
    color: #333;
    border-radius: 4px;
    padding: 10.5px;
}


summary {
    font-weight: 500;
    padding: 1rem;
    font-size: 1.04rem;
    color: #333;
    letter-spacing: 0.7px;
}

details[open] summary {
    border-bottom: thin solid grey;
}