.container {
  background-image: url(../../../../assets/outer-waves.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  width: 100%;
}

.contentContainer {
  width: 48%;
}

.boxEffect,
.chartContainer > * {
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 5px;
}

.chartContainer > * {
  margin: 20px 0px;
}

.contentContainer > h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-size: 28px;
  font-weight: 500;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 36px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 5px;
  text-wrap: unset;
}

.contentContainer > p {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  text-wrap: unset;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .contentContainer {
    width: 90%;
  }
}
