.blobs {
    position: absolute;
    transition: all 1.2s ease-out;
}

.blobs {
    position: absolute;
}

.top {
    top: -15%;
}

.middle {
    top: 35%;
    transform: rotate(120deg);
}

.bottom {
    top: 70%;
}

.left {
    left: -25%;
}

.right {
    left: 79%;
}

.small {
    width: 5vw;
}

.medium {
    width: 15vw;
}

.big {
    width: 25vw;
}