.primaryBtn,
.secondaryBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 12rem;
    border-radius: 10px;
    text-align: center;
    font-size: smaller;
    letter-spacing: 0.7px;
    margin: 1rem 0px;
    cursor: pointer;
    z-index: 2;
}

.primaryBtn {
    background-color: var(--hue);
    color: white;
    border: none;
}

form .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryBtn {
    color: black;
    background-color: #ededed;
    border: none;
}