.pricingContainer {
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}

.pricingContainer > *:nth-child(1),
.pricingContainer > *:nth-child(3) {
  flex: 0.95;
}

.pricingContainer > *:nth-child(2) {
  flex: 1.1;
  box-shadow: 0 0 12px 7px rgba(149, 125, 255, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.pricingContainer > *:nth-child(2):hover {
  box-shadow: 0 0 17px 9px rgba(149, 125, 255, 0.8);
}

.pricingCardContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.whiteContainer span,
.whiteContainer em {
  color: #333 !important;
}

.whiteBg {
  height: 350px;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
}

.imgContainer {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imgContainer > * {
  flex: 1;
}

.priceContainer,
.headingContainer {
  border-radius: 10px;
  border-bottom: 2px solid black;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: -15px 0px 0px 0px;
  background-size: cover;
}

.purple {
  background-image: url(../../../assets/card1bg.svg);
  background-size: cover;
}
.white {
  background-image: url(../../../assets//card3bg.svg);
  background-size: cover;
}

.headingContainer {
  border-radius: 10px 10px 0px 0px;
  z-index: 1;
}

.planStatus {
  position: absolute;
  top: 40px;
  left: 35px;
}

.planStatus > p {
  border-radius: 50px;
  padding: 10px 40px;
  font-weight: 500;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
}

.purple p {
  color: #333;
  border: 2px solid #333;
  background-color: white;
}

.price,
.heading {
  position: absolute;
  bottom: -25px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid black;
}

.price > em {
  color: #8e9cff;
}

.pricingContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  justify-content: space-between;
  box-shadow: unset;
  border-radius: 0px 0px 10px 10px;
}

.pricingHeadings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricingHeading {
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 400;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid #333;
}

.white p,
.white h2,
.white h4,
.black {
  color: white;
  border: 2px solid white;
  background-color: #8b99ff;
}

.featureContainer {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  text-align: center;
  gap: 20px 40px;
  justify-content: center;
}

.feature {
  display: flex;
  gap: 20px;
}

.feature > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #b1b9ff;
}

.featureContainer p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  position: relative;
}

.whiteBtn,
.purpleBtn {
  padding: 10px 45px;
  border-radius: 50px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  margin: 25px 0px;
  transition: all 0.3s;
}

.whiteBtn {
  background-color: #8b99ff;
  color: white;
  border: 2px solid white;
}

.purpleBtn {
  background-color: white;
  border: 2px solid black;
}

.purpleBtn:hover {
  background-color: #8b99ff;
  color: white;
  border-color: white;
}

.whiteBtn:hover {
  background-color: white;
  color: #333;
  border-color: black;
}

.whiteBtn:hover,
.purpleBtn:hover {
  transform: scale(1.1);
}
